{% extends "base.html" %} {% block start %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h3>My Pizza Cart</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Pizza</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for item in carts.cart_items.all %}
          <tr>
            <td>{{ item.pizza.pizza_name }}</td>
            <td>Rs. {{ item.pizza.price }}</td>
            <td>
              <a
                href="{% url 'remove_cart_items' item.uid %}"
                class="btn btn-danger btn-sm"
                >Remove</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <div class="card p-3 shadow-sm">
        <h4>Summary</h4>
        <hr />
        <div class="d-flex justify-content-between">
          <span>Total Amount:</span>
          <span class="fw-bold text-success">Rs. {{ total_amount }}</span>
        </div>

        <hr />

        <form
          action="https://rc-epay.esewa.com.np/api/epay/main/v2/form"
          method="POST"
        >
          <input type="hidden" name="amount" value="{{ total_amount }}" />
          <input type="hidden" name="tax_amount" value="0" />
          <input type="hidden" name="total_amount" value="{{ total_amount }}" />
          <input
            type="hidden"
            name="transaction_uuid"
            value="{{ transaction_uuid }}"
          />
          <input type="hidden" name="product_code" value="{{ product_code }}" />

          <input type="hidden" name="product_service_charge" value="0" />
          <input type="hidden" name="product_delivery_charge" value="0" />
          <input
            type="hidden"
            name="success_url"
            value="http://127.0.0.1:8000/payment_success/"
          />
          <input
            type="hidden"
            name="failure_url"
            value="http://127.0.0.1:8000/payment_failure/"
          />

          <input
            type="hidden"
            name="signed_field_names"
            value="total_amount,transaction_uuid,product_code"
          />
          <input type="hidden" name="signature" value="{{ signature }}" />

          <button type="submit" class="btn btn-success w-100">
            Pay Rs. {{ total_amount }} with eSewa
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
