{% extends "base.html" %} {% block start %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h3>My Pizza Cart</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Pizza</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for item in carts.cart_items.all %}
          <tr>
            <td>{{ item.pizza.pizza_name }}</td>
            <td>Rs. {{ item.pizza.price }}</td>
            <td>
              <a
                href="{% url 'remove_cart_items' item.uid %}"
                class="btn btn-danger btn-sm"
                >Remove</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <div class="card p-3 shadow-sm">
        <h4>Summary</h4>
        <hr />
        <div class="d-flex justify-content-between">
          <span>Total Amount:</span>
          <span class="fw-bold text-success">Rs. {{ total_amount }}</span>
        </div>

        <hr />

        <form
          action="https://rc-epay.esewa.com.np/api/epay/main/v2/form"
          method="POST"
        >
          <input type="hidden" name="amount" value="{{ total_amount }}" />
          <input type="hidden" name="tax_amount" value="0" />
          <input type="hidden" name="total_amount" value="{{ total_amount }}" />
          <input
            type="hidden"
            name="transaction_uuid"
            value="{{ transaction_uuid }}"
          />
          <input type="hidden" name="product_code" value="{{ product_code }}" />

          <input type="hidden" name="product_service_charge" value="0" />
          <input type="hidden" name="product_delivery_charge" value="0" />
          <input
            type="hidden"
            
            name="success_url"
            value="http://127.0.0.1:8000/payment_success/"
          />
          <input
            type="hidden"
            
            name="failure_url"
            value="http://127.0.0.1:8000/payment_failure/"
          />

          <input
            type="hidden"
            name="signed_field_names"
            value="total_amount,transaction_uuid,product_code"
          />
          <input type="hidden" name="signature" value="{{ signature }}" />

          <button type="submit" class="btn btn-success w-100">
            Pay Rs. {{ total_amount }} with eSewa
          </button>
        </form>

        <!-- <form
            action="https://rc.esewa.com.np/api/epay/main/v2/form"
            method="POST"
          >
            <input type="hidden" name="amount" value="{{ total_amount}}" />
            <input type="hidden" name="tax_amount" value="0" />
            <input
              type="hidden"
              name="total_amount"
              value="{{ total_amount}}"
            />
            <input
              type="hidden"
              name="transaction_uuid"
              value="{{ transaction_uuid}}"
            />
            <input
              type="hidden"
              name="product_code"
              value="{{ product_code}}"
            />

            <input
              type="hidden"
              name="signed_field_names"
              value="total_amount,transaction_uuid,product_code"
            />
            <input type="hidden" name="signature" value="{{ signature }}" />

            <input type="hidden" name="product_service_charge" value="0" />
            <input type="hidden" name="product_delivery_charge" value="0" />
            <input
              type="hidden"
              id="success_url"
              name="payment_success"
              value="http://127.0.0.1:8000/payment_success/"
            />
            <input
              type="hidden"
              id="failure_url"
              name="payment_failure"
              value="http://127.0.0.1:8000/payment_failure/"
            />
            console.log("Payload:", payload); console.log("signature:",
            signature);

            <button type="submit" class="btn btn-success w-100 mt-3">
              Pay Rs. {{ total_amount }} with eSewa
            </button>
          
        </form> -->
      </div>
    </div>
  </div>
</div>
<!-- <div class="container card shadow-lg mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">S.NO.</th>
        <th scope="col">Action</th>
        <th scope="col">Product</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Qty</th>
        <th scope="col">Total</th>

      </tr>
    </thead>
    <tbody>
        {% for cartitem in carts.cart_items.all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
            <th>
                <a href="{% url 'remove_cart_items' cartitem.uid%}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
            </th>

         <td>
            <img src="/media/{{cartitem.pizza.images}}" style="height: 150px; width: 150px;"></td>
            <td>{{cartitem.pizza.pizza_name}}</td>
            <td>{{cartitem.pizza.price}}</td>

            <td>


            </td>
            <td>
                {{cartitem.pizza.price}}
            </td>

        </tr>
        {% endfor %}


      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td>


        </td>
        <td>
            <b>Grand Total:</b>
            <br>

            <a href="{{ esewa_url }}" class="btn btn-primary">Pay Now {{carts.get_cart_total}}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

{% endblock %}
