{% extends "base.html" %} {% block start %}

<div class="container card shadow-lg mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">S.NO.</th>
        <th scope="col">Action</th>
        <th scope="col">Product</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Qty</th>
        <th scope="col">Total</th>

      </tr>
    </thead>
    <tbody>
        {% for cartitem in carts.cart_items.all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
            <th>
                <a href="{% url 'remove_cart_items' cartitem.uid%}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
            </th>

         <td>
            <img src="/media/{{cartitem.pizza.images}}" style="height: 150px; width: 150px;"></td>
            <td>{{cartitem.pizza.pizza_name}}</td>
            <td>{{cartitem.pizza.price}}</td>

            <td>


            </td>
            <td>
                {{cartitem.pizza.price}}
            </td>

        </tr>
        {% endfor %}


      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td>


        </td>
        <td>
            <b>Grand Total:{{carts.get_cart_total}}</b>
            <br>

            <!-- <a href="{{payment_url}}" class="btn btn-primary">Pay Now {{carts.get_cart_total}}</a> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
